body {
  font-family: "Gochi Hand", cursive;
  margin: 1em auto;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.avatars {
  width: 25%;
  order: 0;
}

.avatar img {
  overflow: hidden;
  height: 60px;
}

label {
  display: block;
}

label > input {
  display: none;
}

label > input + img {
  cursor: pointer;
  border-radius: 50%;
  border: 5px double transparent;
  padding: 10px;
  overflow: hidden;
  height: 60px;
}

.game {
  width: 50%;
  order: 1;
  display: flex;
  flex-wrap: wrap;
}

label > input:checked + img {
  border: 5px double #5fc148;
}

.score {
  width: 50%;
  order: 0;
  font-size: 2em;
  color: #f00;
}

.lives {
  width: 50%;
  order: 1;
}

img.life {
  overflow: hidden;
  height: 30px;
}

img.active {
  display: inline;
}

img.inactive {
  display: none;
}

.field {
  width: 100%;
  order: 2;
}

.rules {
  width: 25%;
  order: 2;
  text-align: left;
}

.rules ul {
  padding-left: 1em;
  padding-right: 1em;
}
